# **Retail Business Performance & Profitability Analysis - 2020-2023**

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sqlite3

## Import Dataset

In [2]:
df = pd.read_csv('C:/Users/91998/Desktop/Using another Dataset for Practicing or real one/Retail_Sales_Data - Copy.csv')

## View Sample data - Top Rows

In [3]:
df.head(2)

,Transaction_ID,Date,Customer_Name,Customer_ID,Product,Customer_Category,Season,Basket_Size,Product_Category,Category,Sub_Category,Payment_Method,City,Store_Type,Discount_Applied,Promotion,Unit_Price,Cost_Per_Item,Profit,Total_Items
0,1000000000,21-01-2022 06:27,Stacey Price,118350,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",Homemaker,Winter,3,Ketchup,Condiments,Ketchup,Mobile Payment,Los Angeles,Warehouse Club,True,NaN,23.88,12.24,34.94,3
1,1000000001,01-03-2023 13:01,Michelle Carlson,322706,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",Professional,Fall,5,Ice Cream,Dairy,Ice Cream,Cash,San Francisco,Specialty Store,True,BOGO (Buy One Get One),12.97,8.88,8.16,2

## View Sample data - Bottom Rows

In [4]:
df.tail(2)

,Transaction_ID,Date,Customer_Name,Customer_ID,Product,Customer_Category,Season,Basket_Size,Product_Category,Category,Sub_Category,Payment_Method,City,Store_Type,Discount_Applied,Promotion,Unit_Price,Cost_Per_Item,Profit,Total_Items
911,1000000997,10-01-2022 15:07,Jesse Lewis,707386,"['Hair Gel', 'Yogurt']",Senior Citizen,Summer,2,Hair Gel,Personal Care,Hair Gel,Mobile Payment,Los Angeles,Convenience Store,False,BOGO (Buy One Get One),3.69,1.63,8.26,4
912,1000000999,29-05-2020 14:07,William Anderson,785866,['Plant Fertilizer'],Retiree,Spring,1,Plant Fertilizer,Garden Tools,Plant Fertilizer,Debit Card,Atlanta,Supermarket,False,BOGO (Buy One Get One),8.03,4.29,37.45,10

## Describe

In [5]:
df.describe()

,Transaction_ID,Customer_ID,Basket_Size,Unit_Price,Cost_Per_Item,Profit,Total_Items
count,9.130000e+02,913.000000,913.000000,913.000000,913.000000,913.000000,913.000000
mean,1.000000e+09,499216.153341,2.950712,14.999825,8.281643,23.728620,5.641840
std,2.887878e+02,290553.929633,1.396574,17.092290,9.766724,13.129939,2.848877
min,1.000000e+09,522.000000,1.000000,0.510000,0.220000,1.740000,1.000000
25%,1.000000e+09,246556.000000,2.000000,5.140000,2.780000,12.850000,3.000000
50%,1.000000e+09,512984.000000,3.000000,9.360000,5.010000,23.490000,6.000000
75%,1.000001e+09,740212.000000,4.000000,17.230000,9.240000,33.520000,8.000000
max,1.000001e+09,999045.000000,5.000000,98.520000,68.760000,58.830000,10.000000

## To view the Shape of dataset

In [6]:
df.shape

(913, 20)

## To change the Datatype for Date

In [7]:
df['Date'] = pd.to_datetime(df['Date'],format='%d-%m-%Y %H:%M')

## To Check Datatypes for variables

In [8]:
df.dtypes

Transaction_ID                int64
Date                 datetime64[ns]
Customer_Name                object
Customer_ID                   int64
Product                      object
Customer_Category            object
Season                       object
Basket_Size                   int64
Product_Category             object
Category                     object
Sub_Category                 object
Payment_Method               object
City                         object
Store_Type                   object
Discount_Applied               bool
Promotion                    object
Unit_Price                  float64
Cost_Per_Item               float64
Profit                      float64
Total_Items                   int64
dtype: object

## Calculate Total_Cost

In [9]:
df['Total_Cost'] = df['Cost_Per_Item'] * df['Total_Items']
print (df['Total_Cost']);

0      36.72
1      17.76
2      22.80
3       7.30
4      32.28
       ...
908    14.30
909     7.00
910     8.00
911     6.52
912    42.90
Name: Total_Cost, Length: 913, dtype: float64

## Calculate Total_Sales

In [10]:
df['Total_Sales'] = df['Unit_Price'] * df['Total_Items']
print (df['Total_Sales']);

0      71.64
1      25.94
2      39.34
3      16.40
4      72.24
       ...
908    28.10
909    16.30
910    11.85
911    14.76
912    80.30
Name: Total_Sales, Length: 913, dtype: float64

## Total Profit_Margin_Sales

In [11]:
df['Profit_Margin_Sales'] = (df['Profit'] / df['Total_Sales']) * 100
print (df['Profit_Margin_Sales']);

0      48.771636
1      31.457209
2      42.043721
3      55.365854
4      55.315615
         ...
908    49.145907
909    57.300613
910    32.489451
911    55.962060
912    46.637609
Name: Profit_Margin_Sales, Length: 913, dtype: float64

## Total Profit_Margin_Cost

In [12]:
df['Profit_Margin_Cost'] = (df['Profit'] / df['Total_Cost']) * 100
print (df['Profit_Margin_Cost']);

0       95.152505
1       45.945946
2       72.543860
3      124.383562
4      123.791822
          ...
908     96.573427
909    133.428571
910     48.125000
911    126.687117
912     87.296037
Name: Profit_Margin_Cost, Length: 913, dtype: float64

## Sales Aggregations: Total_Sales, Avg_Sales, Total_Cost, Total_Profit, Avg_Profit

In [13]:
Total_Sales = df["Total_Sales"].sum()
Total_Profit = df["Profit"].sum()
Total_Cost = df["Total_Cost"].sum()
Average_Sales = df["Total_Sales"].mean()
Average_Profit = df["Profit"].mean()
No_of_Items = df["Product"].count()
Profit_Margin_Sales = df["Profit_Margin_Sales"].sum()
Profit_Margin_Cost = df["Profit_Margin_Cost"].sum()
print(f"Total Sales: ${Total_Sales:,.2f}")
print(f"Total Cost: ${Total_Cost:,.2f}")
print(f"Total Profit: ${Total_Profit:,.2f}")
print(f"Average Sales: ${Average_Sales:,.2f}")
print(f"Average Profit: ${Average_Profit:,.2f}")
print(f"No of Items: {No_of_Items:,.2f}")
print(f"Profit Margin Sales: ${Profit_Margin_Sales:,.2f}")
print(f"Profit Margin Cost: ${Profit_Margin_Cost:,.2f}")

Total Sales: $47,983.00
Total Cost: $26,316.84
Total Profit: $21,664.23
Average Sales: $52.56
Average Profit: $23.73
No of Items: 913.00
Profit Margin Sales: $41,363.55
Profit Margin Cost: $80,102.32

## To check Null Values

In [14]:
print(df.isnull().sum())

Transaction_ID           0
Date                     0
Customer_Name            0
Customer_ID              0
Product                  0
Customer_Category        0
Season                   0
Basket_Size              0
Product_Category         0
Category                 0
Sub_Category             0
Payment_Method           0
City                     0
Store_Type               0
Discount_Applied         0
Promotion              328
Unit_Price               0
Cost_Per_Item            0
Profit                   0
Total_Items              0
Total_Cost               0
Total_Sales              0
Profit_Margin_Sales      0
Profit_Margin_Cost       0
dtype: int64

## To check Unique: Category, Store_type, Promotion

In [15]:
print(df['Category'].unique())

['Condiments' 'Dairy' 'Cleaning Supplies' 'Personal Care'
 'Pantry & Snacks' 'Other' 'Household Electronics' 'Beverages'
 'Meat & Seafood' 'Grains & Bakery' 'Home & Misc' 'Cleaning Equipment'
 'Garden Tools' 'Vegetables' 'Fruits' 'Baby Care']

In [16]:
print(df['Store_Type'].unique())

['Warehouse Club' 'Specialty Store' 'Pharmacy' 'Supermarket'
 'Convenience Store' 'Department Store']

In [17]:
print(df['Promotion'].unique())

[nan 'BOGO (Buy One Get One)' 'Discount on Selected Items']

## To view the Columns of dataset

In [18]:
df.columns

Index(['Transaction_ID', 'Date', 'Customer_Name', 'Customer_ID', 'Product',
       'Customer_Category', 'Season', 'Basket_Size', 'Product_Category',
       'Category', 'Sub_Category', 'Payment_Method', 'City', 'Store_Type',
       'Discount_Applied', 'Promotion', 'Unit_Price', 'Cost_Per_Item',
       'Profit', 'Total_Items', 'Total_Cost', 'Total_Sales',
       'Profit_Margin_Sales', 'Profit_Margin_Cost'],
      dtype='object')

# SQLite Part

## Load CSV into SQLite to Run SQL Queries

In [3]:
import pandas as pd
import sqlite3

# Step 1: Load CSV into a DataFrame
df = pd.read_csv("C:/Users/91998/Desktop/Using another Dataset for Practicing or real one/Retail_Sales_Data - Copy.csv")

# Step 2: Create an in-memory SQLite database (or save it to a file)
conn = sqlite3.connect(':memory:')  # Or use 'my_database.sqlite' to save to file

# Step 3: Write the DataFrame into the database as a table
df.to_sql('sales_data', conn, index=False, if_exists='replace')

# Add columns to the DataFrame

df['Total_Cost'] = df['Cost_Per_Item'] * df['Total_Items']
df['Total_Sales'] = df['Unit_Price'] * df['Total_Items']
df['Profit_Margin_Sales'] = (df['Profit'] / df['Total_Sales']) * 100

## To Calculate Profit Margins by "Category"

In [20]:
query = """
SELECT 
    Category,
    SUM(Profit) AS Total_Profit,
    SUM(Unit_Price * Total_Items) As Total_Sales,
    ROUND(SUM(Profit)*100 / SUM(Unit_Price * Total_Items), 4) AS Profit_Margin_Sales
    From sales_data
    GROUP BY Category
    ORDER BY Profit_Margin_Sales DESC
    Limit 10;
"""
result = pd.read_sql_query(query,conn)
print (result);

                Category  Total_Profit  Total_Sales  Profit_Margin_Sales
0            Home & Misc        976.59      2071.79              47.1375
1                  Other       1397.01      2970.37              47.0315
2                  Dairy        571.20      1238.21              46.1311
3             Vegetables       1451.96      3160.08              45.9469
4      Cleaning Supplies       2063.58      4514.48              45.7102
5          Personal Care       2878.45      6324.43              45.5132
6              Baby Care        450.14       989.41              45.4958
7  Household Electronics       1547.93      3410.81              45.3831
8        Grains & Bakery       1844.25      4068.87              45.3259
9           Garden Tools        911.27      2015.13              45.2214

## To Calculate Profit Margins by "Sub_Category"

In [21]:
query1 = """
SELECT 
    Sub_Category,
    SUM(Profit) AS Total_Profit,
    SUM(Unit_Price * Total_Items) As Total_Sales,
    ROUND(SUM(Profit)*100 / SUM(Unit_Price * Total_Items), 4) AS Profit_Margin_Sales
    From sales_data
    GROUP BY Sub_Category
    ORDER BY Profit_Margin_Sales DESC
    Limit 10;
"""
result = pd.read_sql_query(query1,conn)
print (result);

       Sub_Category  Total_Profit  Total_Sales  Profit_Margin_Sales
0         Dish Soap        348.34       679.34              51.2762
1           Diapers        128.35       250.35              51.2682
2        Lawn Mower        309.44       611.98              50.5637
3  Insect Repellent        431.57       855.10              50.4701
4          Tomatoes        221.24       440.52              50.2225
5        Trash Bags        200.63       401.67              49.9490
6          Hair Gel        194.89       393.75              49.4959
7               Jam        172.60       349.22              49.4244
8          Dishware        228.60       465.31              49.1285
9             Chips        180.55       367.99              49.0638

## To Calculate Season Wise Top Category products

In [4]:
query2 = """
SELECT
    Category,Season,
    SUM(Unit_Price * Total_Items) AS Total_Sales
FROM Sales_Data
GROUP BY Season, Category
ORDER BY Total_Sales DESC
LIMIT 10;
"""
result = pd.read_sql_query(query2, conn)
print(result)

            Category  Season  Total_Sales
0      Personal Care  Spring      1965.36
1      Personal Care    Fall      1778.85
2    Pantry & Snacks  Winter      1707.31
3  Cleaning Supplies  Winter      1552.35
4    Grains & Bakery  Winter      1535.47
5    Pantry & Snacks  Summer      1409.76
6      Personal Care  Summer      1388.69
7    Pantry & Snacks    Fall      1307.61
8      Personal Care  Winter      1191.53
9    Pantry & Snacks  Spring      1181.67

## To Calculate slow-moving and overstocked items

In [22]:
slow_sales_threshold = df['Total_Items'].quantile(0.25)
overstock_threshold = df['Total_Items'].quantile(0.75)
low_profit_margin_threshold = df['Profit_Margin_Sales'].quantile(0.25)

df['is_slow_moving'] = df['Total_Items'] < slow_sales_threshold

df['is_overstocked'] = (df['Total_Items'] > overstock_threshold) & \
                       (df['Profit_Margin_Sales'] < low_profit_margin_threshold)

In [23]:
df.groupby(['Category', 'Sub_Category']).agg({
    'Total_Items': 'sum',
    'Profit': 'sum',
    'Product': pd.Series.nunique
})

                                 Total_Items  Profit  Product
Category           Sub_Category
Baby Care          Baby Wipes             94  321.79       10
                   Diapers                25  128.35        4
Beverages          Coffee                 62  366.86       10
                   Tea                    60  223.26       10
Cleaning Equipment Broom                  59  224.82        8
...                                      ...     ...      ...
Vegetables         Carrots                77  371.23       10
                   Onions                 92  374.06       12
                   Potatoes               57  239.77       13
                   Spinach                52  245.66        9
                   Tomatoes               36  221.24        8

[81 rows x 3 columns]

In [24]:
# Count of flagged products
print(df['is_slow_moving'].value_counts())
print(df['is_overstocked'].value_counts())


# Grouped analysis by Category or Sub_Category
df.groupby('Category')[['is_slow_moving', 'is_overstocked']].sum().sort_values(by='is_slow_moving', ascending=False)

is_slow_moving
False    745
True     168
Name: count, dtype: int64
is_overstocked
False    873
True      40
Name: count, dtype: int64

                       is_slow_moving  is_overstocked
Category
Personal Care                      25               3
Pantry & Snacks                    21               4
Cleaning Supplies                  18               4
Household Electronics              13               3
Meat & Seafood                     13               4
Grains & Bakery                    12               5
Vegetables                         12               2
Other                              10               1
Cleaning Equipment                  9               3
Fruits                              8               0
Condiments                          7               4
Home & Misc                         6               3
Dairy                               5               0
Garden Tools                        4               0
Beverages                           3               2
Baby Care                           2               2

In [25]:
print(df.columns)

Index(['Transaction_ID', 'Date', 'Customer_Name', 'Customer_ID', 'Product',
       'Customer_Category', 'Season', 'Basket_Size', 'Product_Category',
       'Category', 'Sub_Category', 'Payment_Method', 'City', 'Store_Type',
       'Discount_Applied', 'Promotion', 'Unit_Price', 'Cost_Per_Item',
       'Profit', 'Total_Items', 'Total_Cost', 'Total_Sales',
       'Profit_Margin_Sales', 'is_slow_moving', 'is_overstocked'],
      dtype='object')

In [26]:
df.to_csv(r'C:\Users\91998\Desktop\Using another Dataset for Practicing or real one\Exported_Retail_Data - Copy.csv', index=False)