# **Retail Business Performance & Profitability Analysis - Python + SQlite**

## Import Libraries

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sqlite3

## Import Dataset

In [82]:
df = pd.read_csv('C:/Users/91998/Desktop/Using another Dataset for Practicing or real one/Retail_Sales_Data.csv')

## View Sample data - Top Rows

In [83]:
df.head(2)

,Transaction_ID,Date,Customer_Name,Customer_ID,Product,Customer_Category,Season,Basket_Size,Product_Category,Category,Sub_Category,Payment_Method,City,Store_Type,Discount_Applied,Promotion,Unit_Price,Cost_Per_Item,Profit,Total_Items
0,1000000000,21-01-2022 06:27,Stacey Price,118350,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",Homemaker,Winter,3,Ketchup,Condiments,Ketchup,Mobile Payment,Los Angeles,Warehouse Club,True,NaN,23.88,12.24,34.94,3
1,1000000001,01-03-2023 13:01,Michelle Carlson,322706,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",Professional,Fall,5,Ice Cream,Dairy,Ice Cream,Cash,San Francisco,Specialty Store,True,BOGO (Buy One Get One),12.97,8.88,8.16,2

## View Sample data - Bottom Rows

In [84]:
df.tail(2)

,Transaction_ID,Date,Customer_Name,Customer_ID,Product,Customer_Category,Season,Basket_Size,Product_Category,Category,Sub_Category,Payment_Method,City,Store_Type,Discount_Applied,Promotion,Unit_Price,Cost_Per_Item,Profit,Total_Items
998,1000000998,01-02-2024 15:45,Jenny Larson,722835,"['Cleaning Rags', 'Cleaning Rags', 'Razors', '...",Professional,Summer,4,Cleaning Rags,Cleaning Supplies,Cleaning Rags,Debit Card,Boston,Warehouse Club,False,Discount on Selected Items,19.41,13.29,24.44,4
999,1000000999,29-05-2020 14:07,William Anderson,785866,['Plant Fertilizer'],Retiree,Spring,1,Plant Fertilizer,Garden Tools,Plant Fertilizer,Debit Card,Atlanta,Supermarket,False,BOGO (Buy One Get One),8.03,4.29,37.45,10

## Describe

In [85]:
df.describe()

,Transaction_ID,Customer_ID,Basket_Size,Unit_Price,Cost_Per_Item,Profit,Total_Items
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.000000e+09,500548.695000,2.925000,15.222920,8.421490,23.775620,5.603000
std,2.888194e+02,289813.164355,1.396182,17.406359,9.996789,13.098578,2.841384
min,1.000000e+09,522.000000,1.000000,0.510000,0.220000,1.740000,1.000000
25%,1.000000e+09,245385.750000,2.000000,5.217500,2.797500,13.075000,3.000000
50%,1.000000e+09,512767.500000,3.000000,9.455000,5.135000,23.525000,6.000000
75%,1.000001e+09,744088.000000,4.000000,17.410000,9.252500,33.522500,8.000000
max,1.000001e+09,999045.000000,5.000000,99.160000,68.760000,58.830000,10.000000

## To view the Shape of dataset

In [86]:
df.shape

(1000, 20)

## To view the Columns of dataset

In [104]:
df.columns

Index(['Transaction_ID', 'Date', 'Customer_Name', 'Customer_ID', 'Product',
       'Customer_Category', 'Season', 'Basket_Size', 'Product_Category',
       'Category', 'Sub_Category', 'Payment_Method', 'City', 'Store_Type',
       'Discount_Applied', 'Promotion', 'Unit_Price', 'Cost_Per_Item',
       'Profit', 'Total_Items'],
      dtype='object')

## To change the Datatype for Date

In [87]:
df['Date'] = pd.to_datetime(df['Date'],format='%d-%m-%Y %H:%M')

## To Check Datatypes for variables

In [88]:
df.dtypes

Transaction_ID                int64
Date                 datetime64[ns]
Customer_Name                object
Customer_ID                   int64
Product                      object
Customer_Category            object
Season                       object
Basket_Size                   int64
Product_Category             object
Category                     object
Sub_Category                 object
Payment_Method               object
City                         object
Store_Type                   object
Discount_Applied               bool
Promotion                    object
Unit_Price                  float64
Cost_Per_Item               float64
Profit                      float64
Total_Items                   int64
dtype: object

## Calculate Total_Cost

In [89]:
df['Total_Cost'] = df['Cost_Per_Item'] * df['Total_Items']
print (df['Total_Cost']);

0      36.72
1      17.76
2      25.68
3      22.80
4       7.30
       ...
995     7.00
996     8.00
997     6.52
998    53.16
999    42.90
Name: Total_Cost, Length: 1000, dtype: float64

## Calculate Total_Sales

In [90]:
df['Total_Sales'] = df['Unit_Price'] * df['Total_Items']
print (df['Total_Sales']);

0      71.64
1      25.94
2      41.52
3      39.34
4      16.40
       ...
995    16.30
996    11.85
997    14.76
998    77.64
999    80.30
Name: Total_Sales, Length: 1000, dtype: float64

## Total Profit_Margin_Sales

In [91]:
df['Profit_Margin_Sales'] = (df['Profit'] / df['Total_Sales']) * 100
print (df['Profit_Margin_Sales']);

0      48.771636
1      31.457209
2      38.005780
3      42.043721
4      55.365854
         ...
995    57.300613
996    32.489451
997    55.962060
998    31.478619
999    46.637609
Name: Profit_Margin_Sales, Length: 1000, dtype: float64

## Total Profit_Margin_Cost

In [92]:
df['Profit_Margin_Cost'] = (df['Profit'] / df['Total_Cost']) * 100
print (df['Profit_Margin_Cost']);

0       95.152505
1       45.945946
2       61.448598
3       72.543860
4      124.383562
          ...
995    133.428571
996     48.125000
997    126.687117
998     45.974417
999     87.296037
Name: Profit_Margin_Cost, Length: 1000, dtype: float64

## Sales Aggregations: Total_Sales, Avg_Sales, Total_Cost, Total_Profit, Avg_Profit

In [93]:
Total_Sales = df["Total_Sales"].sum()
Total_Profit = df["Profit"].sum()
Total_Cost = df["Total_Cost"].sum()
Average_Sales = df["Total_Sales"].mean()
Average_Profit = df["Profit"].mean()
No_of_Items = df["Product"].count()
Profit_Margin_Sales = df["Profit_Margin_Sales"].sum()
Profit_Margin_Cost = df["Profit_Margin_Cost"].sum()
print(f"Total Sales: ${Total_Sales:,.2f}")
print(f"Total Cost: ${Total_Cost:,.2f}")
print(f"Total Profit: ${Total_Profit:,.2f}")
print(f"Average Sales: ${Average_Sales:,.2f}")
print(f"Average Profit: ${Average_Profit:,.2f}")
print(f"No of Items: ${No_of_Items:,.2f}")
print(f"Profit Margin Sales: ${Profit_Margin_Sales:,.2f}")
print(f"Profit Margin Cost: ${Profit_Margin_Cost:,.2f}")

Total Sales: $52,720.99
Total Cost: $28,942.95
Total Profit: $23,775.62
Average Sales: $52.72
Average Profit: $23.78
No of Items: $1,000.00
Profit Margin Sales: $45,290.00
Profit Margin Cost: $87,674.90

## To check Null Values

In [95]:
print(df.isnull().sum())

Transaction_ID           0
Date                     0
Customer_Name            0
Customer_ID              0
Product                  0
Customer_Category        0
Season                   0
Basket_Size              0
Product_Category         0
Category                 0
Sub_Category             0
Payment_Method           0
City                     0
Store_Type               0
Discount_Applied         0
Promotion              357
Unit_Price               0
Cost_Per_Item            0
Profit                   0
Total_Items              0
Total_Cost               0
Total_Sales              0
Profit_Margin_Sales      0
Profit_Margin_Cost       0
dtype: int64

## To check Unique: Category, Store_type, Promotion

In [96]:
print(df['Category'].unique())

['Condiments' 'Dairy' 'Vegetables' 'Cleaning Supplies' 'Personal Care'
 'Pantry & Snacks' 'Other' 'Household Electronics' 'Beverages'
 'Meat & Seafood' 'Grains & Bakery' 'Home & Misc' 'Cleaning Equipment'
 'Garden Tools' 'Fruits' 'Baby Care']

In [97]:
print(df['Store_Type'].unique())

['Warehouse Club' 'Specialty Store' 'Department Store' 'Pharmacy'
 'Supermarket' 'Convenience Store']

In [98]:
print(df['Promotion'].unique())

[nan 'BOGO (Buy One Get One)' 'Discount on Selected Items']

# SQLite Part

## Load CSV into SQLite to Run SQL Queries

In [99]:
import pandas as pd
import sqlite3

# Step 1: Load CSV into a DataFrame
df = pd.read_csv("C:/Users/91998/Desktop/Using another Dataset for Practicing or real one/Retail_Sales_Data.csv")

# Step 2: Create an in-memory SQLite database (or save it to a file)
conn = sqlite3.connect(':memory:')  # Or use 'my_database.sqlite' to save to file

# Step 3: Write the DataFrame into the database as a table
df.to_sql('sales_data', conn, index=False, if_exists='replace')

1000

## To Calculate Profit Margins by "Category"

In [105]:
query = """
SELECT 
    Category,
    SUM(Profit) AS Total_Profit,
    SUM(Unit_Price * Total_Items) As Total_Sales,
    ROUND(SUM(Profit)*100 / SUM(Unit_Price * Total_Items), 4) AS Profit_Margin_Sales
    From sales_data
    GROUP BY Category
    ORDER BY Profit_Margin_Sales DESC
    Limit 10;
"""
result = pd.read_sql_query(query,conn)
print (result);

                Category  Total_Profit  Total_Sales  Profit_Margin_Sales
0                  Other       1502.82      3198.85              46.9800
1            Home & Misc       1067.78      2273.20              46.9725
2             Vegetables       1591.58      3461.96              45.9734
3          Personal Care       3305.08      7215.82              45.8032
4      Cleaning Supplies       2287.85      5025.68              45.5232
5              Baby Care        450.14       989.41              45.4958
6        Grains & Bakery       2002.67      4406.34              45.4497
7  Household Electronics       1682.25      3703.70              45.4208
8             Condiments       1356.99      3014.62              45.0136
9           Garden Tools        961.31      2142.91              44.8600

## To Calculate Profit Margins by "Sub_Category"

In [101]:
query1 = """
SELECT 
    Sub_Category,
    SUM(Profit) AS Total_Profit,
    SUM(Unit_Price * Total_Items) As Total_Sales,
    ROUND(SUM(Profit)*100 / SUM(Unit_Price * Total_Items), 4) AS Profit_Margin_Sales
    From sales_data
    GROUP BY Sub_Category
    ORDER BY Profit_Margin_Sales DESC
    Limit 10;
"""
result = pd.read_sql_query(query1,conn)
print (result);

       Sub_Category  Total_Profit  Total_Sales  Profit_Margin_Sales
0           Diapers        128.35       250.35              51.2682
1         Dish Soap        365.44       713.84              51.1935
2          Hair Gel        315.86       621.62              50.8124
3  Insect Repellent        431.57       855.10              50.4701
4          Tomatoes        221.24       440.52              50.2225
5        Trash Bags        200.63       401.67              49.9490
6               Jam        172.60       349.22              49.4244
7          Dishware        228.60       465.31              49.1285
8        Lawn Mower        340.28       704.92              48.2721
9    Hand Sanitizer        540.90      1129.80              47.8757

## To Calculate slow-moving and overstocked items

In [106]:
slow_sales_threshold = df['Total_Items'].quantile(0.25)
overstock_threshold = df['Total_Items'].quantile(0.75)
low_profit_margin_threshold = df['Profit_Margin_Sales'].quantile(0.25)

df['is_slow_moving'] = df['Total_Items'] < slow_sales_threshold

df['is_overstocked'] = (df['Total_Items'] > overstock_threshold) & \
                       (df['Profit_Margin_Sales'] < low_profit_margin_threshold)

KeyError: 'Profit_Margin_Sales'

In [103]:
df.groupby(['Category', 'Sub_Category']).agg({
    'Total_Items': 'sum',
    'Profit': 'sum',
    'Product': pd.Series.nunique
})

                                 Total_Items  Profit  Product
Category           Sub_Category
Baby Care          Baby Wipes             94  321.79       10
                   Diapers                25  128.35        4
Beverages          Coffee                 62  366.86       10
                   Tea                    60  223.26       10
Cleaning Equipment Broom                  59  224.82        8
...                                      ...     ...      ...
Vegetables         Carrots                77  371.23       10
                   Onions                109  442.38       12
                   Potatoes               60  266.94       14
                   Spinach                63  289.79       10
                   Tomatoes               36  221.24        8

[81 rows x 3 columns]

In [53]:
# Count of flagged products
print(df['is_slow_moving'].value_counts())
print(df['is_overstocked'].value_counts())


# Grouped analysis by Category or Sub_Category
df.groupby('Category')[['is_slow_moving', 'is_overstocked']].sum().sort_values(by='is_slow_moving', ascending=False)

KeyError: 'is_slow_moving'

In [52]:
print(df.columns)

Index(['Transaction_ID', 'Date', 'Customer_Name', 'Customer_ID', 'Product',
       'Customer_Category', 'Season', 'Basket_Size', 'Product_Category',
       'Category', 'Sub_Category', 'Payment_Method', 'City', 'Store_Type',
       'Discount_Applied', 'Promotion', 'Unit_Price', 'Cost_Per_Item',
       'Profit', 'Total_Items'],
      dtype='object')

In [ ]:
df.to_csv(r'C:\Users\91998\Desktop\Using another Dataset for Practicing or real one\Exported_Retail_Data.csv', index=False)